<div class="row">
    <div class="col-4">
        <button class="btn btn-success" (click)="getUsers()">Get Users</button>
    </div>
    <div class="col-4">
        <button class="btn btn-success" (click)="getEmployees()">Get Employees</button>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <ul>
            @for (item of userList; track $index) {
                <li>{{item.name}}--{{item.email}}</li>
            }
        </ul>
    </div>
    <div class="col-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Gender</th>
                    <!-- <th>status</th> -->
                </tr>
            </thead>
            <tbody>
                @for (item of empList; track $index) {
                    <tr>
                        <td>{{$index+1}}</td>
                        <td>{{item.employeeName}}</td>
                        <td>{{item.contactNo}}</td>
                        <td>{{item.gender}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>